{% extends 'user/base.html' %}

{% block content %}
               <table class="table">
               <thead>
               <tr>
                    <th scope="col">address_id</th>
                    <th scope="col">firstname</th>
                    <th scope="col">lastname</th>
                    <th scope="col">company</th>
                    <th scope="col">address_1</th>
                    <th scope="col">address_2</th>
                    <th scope="col">postcode</th>
                    <th scope="col">city</th>
                    <th scope="col">zone_id</th>
                    <th scope="col">zone_code</th>
                    <th scope="col">country_id</th>
                    <th scope="col">country</th>
                    <th scope="col">iso_code_2</th>
                    <th scope="col">iso_code_3</th>
                    <!-- <th scope="col">address_format</th> -->
               </tr>
               </thead>
               <tbody>
                    {% for data in  address.data.addresses %}       
                    <tr> 
                         <td>{{data.address_id}}</td>
                         <td>{{data.firstname}}</td>
                         <td>{{data.lastname}}</td>
                         <td>{{data.company}}</td>
                         <td>{{data.address_1}}</td>
                         <td>{{data.address_2}}</td>
                         <td>{{data.postcode}}</td>
                         <td>{{data.city}}</td>
                         <td>{{data.zone_id}}</td>
                         <td>{{data.zone_code}}</td>
                         <td>{{data.country_id}}</td>
                         <td>{{data.country}}</td>
                         <td>{{data.iso_code_2}}</td>
                         <td>{{data.iso_code_3}}</td>
                         <!-- <td>{{data.address_format}}</td> -->
                    </tr>
                    <!-- {{data}} -->
                    {% endfor %}
               </tbody>
               </table>
          
{% endblock content %}